<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>B_bamboo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_bamboo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_bamboo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_bamboo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_bamboo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_bamboo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_bamboo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_bamboo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_bamboo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_character_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_dot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

			<key>B_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,66}}</string>
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>MJ_bottom.png</string>
			</dict>
		</dict>
</plist>